.cv-page-component {
    display: flex;
    justify-content: space-between;
     margin-left: 1em; 
     margin-right: 1em;
     font-size: 12px;
     margin-bottom: 30px;
     margin-top: 20px;
    /* border: 1px solid salmon; */
    background-color: #7b53d10f;
}

.left-heading {
    color:rgb(255, 255, 255);
    margin-left: 2.5em;
    margin-block: 2vh;
    margin-top: 10%;
}

.left {
    width: 68%;
}
.full-name{
    width:30em;
}
.details {
    width: 60%;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.profile-image {
    margin-right: 10%;
}

.profile-pic {
    height: 20vh;
    border-radius: 50%;
    margin-left: 5%;
    margin-right: 10%;
}
.heading {
    color: blue;
    margin: 5%;
    text-transform: uppercase;
    margin-left: 15%;
}

.work-experience { 
    width:100%;
    margin-left: 3%;
}
.education{
    font-size: 12px;
    width:100%;
    margin-left: 3% 
    
}

.right {
    width: 40%;
    height: 140vh;
    background-color: rgb(35, 37, 129);
    /* margin-right: 0.em; */
}

.career-objective {
    color: white;
}
.career-obj {
    color: white;
    margin-top: 5em;
    margin-left: 5%;
    }
    

.interests {
    margin-top: 10%;
}
.hobb {
    color: rgb(88, 88, 213);
    margin-left: 6em;
    }

.interests-hobb {
    margin-top: 0;
    color: #7b7d7e;
}
.proskills-section{
    color: white;
    text-align: left;
    /* padding: 20%; */
    /* height: 15vh; */
}
.left{
    /* border: 5px  red; */
    margin-left: 1em;
}
.personal {
    color: white;
    margin-left: 5%;
}
